*
{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

.container {
    display: flex;
    width: 100%;
    margin: auto;
    
}

.left-side {
    width: 50%;
    background-image: url(./images/bg-pattern-desktop.svg);
    padding: 50px 100px;
}

.mobile-img-container {
    display: none;
}